<ion-header>

</ion-header>
<ion-content style="--background:black">



  <form [formGroup]="mioForm">

    <div class="ion-text-center">
      <img src="assets/logo_devskill@3x.png">
    </div>

    <ion-grid class="set-grid" >
      <ion-row>
        <ion-col class="ion-text-center">
          <h6 style="color: white;"> Benvenuti</h6>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col></ion-col>
        <ion-col>
          <ion-item>
            <ion-label for="uname" position="floating">Username</ion-label>
            <ion-input [(ngModel)]="username" id="uname" (keyup)="controllo()" formControlName="username" ></ion-input>
            <ion-icon slot="end" name="mail-sharp"></ion-icon>
          </ion-item>
          <h6 style="font-size: small;">Inserisci username</h6>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>

      <ion-row>
        <ion-col></ion-col>
        <ion-col>
          <ion-item>
            <ion-label for="pass" position="floating">Password</ion-label>
            <ion-input [(ngModel)]="password" id="pass"  type="password" formControlName="password" (keyup)="controllo()"></ion-input>
            <ion-icon slot="end" name="lock-open"></ion-icon>
          </ion-item>
          <h6 style="font-size: small;">Inserisci password</h6>

          <div class="ion-float-right">
            
            <ion-button type="submit" [disable]="disattiva" (click)="clicca()">Login</ion-button>
            <app-bottone-personalizzato indirizzo="/registrazione" testo="Vai alla pagina di registrazione"></app-bottone-personalizzato>
         
          </div>

        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
  </form>


</ion-content>